<a href="https://colab.research.google.com/github/JoelForson/ECON5200-Applied-Data-Analytics-in-Economics/blob/main/%5BLab_1%5D_Hello%2C_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# Step 1: imports

import pandas as pd
import numpy as np

In [6]:
data = {
    'Country': ['United States', 'Argentina', 'Australia', 'Brazil',
    'Britain', 'China', 'Egypt', 'Euro area', 'Hong Kong','Indonesia', 'Japan',
    'Mexico','Norway', 'Pakistan', 'Philippines', 'Russia', 'Saudia Arabia',
    'South Africa','South Korea'],
    'iso_a3': ['USA', 'ARG', 'AUS', 'BRA', 'GBR', 'CHN', 'EGY', 'EUZ', 'HKG',
    'IDN', 'JPN', 'MEX', 'NOR', 'PAK', 'PHL', 'RUS', 'SAU', 'ZAF', 'KOR'],
    'local_price': ['4.79', '28.00', '5.30', '13.50', '2.89', '17.20', '16.93',
    '3.68', '18.80', '27,939', '370', '49.00', '48.00', '300', '163', '89.00',
    '11.00', '25.50', '4,100'],
    'dollar_ex': ['1.00', '8.62', '1.23', '2.59', '0.66', '6.21', '7.36', '0.86',
    '7.74', '12,472', '117.83', '14.63', '7.62', '100.67', '44.41', '64.44',
    '3.75', '11.49', '1,084.66']
}

# Convert to DataFrame
df = pd.DataFrame(data)
print(df)

          Country iso_a3 local_price dollar_ex
0   United States    USA        4.79      1.00
1       Argentina    ARG       28.00      8.62
2       Australia    AUS        5.30      1.23
3          Brazil    BRA       13.50      2.59
4         Britain    GBR        2.89      0.66
5           China    CHN       17.20      6.21
6           Egypt    EGY       16.93      7.36
7       Euro area    EUZ        3.68      0.86
8       Hong Kong    HKG       18.80      7.74
9       Indonesia    IDN      27,939    12,472
10          Japan    JPN         370    117.83
11         Mexico    MEX       49.00     14.63
12         Norway    NOR       48.00      7.62
13       Pakistan    PAK         300    100.67
14    Philippines    PHL         163     44.41
15         Russia    RUS       89.00     64.44
16  Saudia Arabia    SAU       11.00      3.75
17   South Africa    ZAF       25.50     11.49
18    South Korea    KOR       4,100  1,084.66